{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="form-buttons">
                <a href="{{ path(baseRouteName~'_list') }}" class="btn btn-secondary">Annulla</a>
                <button type="submit" class="btn btn-primary ms-2">Salva</button>
        </div>
{{ form_end(form) }}
