{% extends '@KikwikAdmink/base.html.twig' %}

{% block title %}Crea {{ singularName }}{% endblock %}

{% block body %}
    <h1>Crea {{ singularName }}</h1>

    {{ include(['admink/'~baseRouteName~'/_form.html.twig','@KikwikAdmink/crud/_form.html.twig'], { form: form }) }}
{% endblock %}
