{% extends 'base.html.twig' %}


{% block body %}
    <h1>Crea {{ singularName }}</h1>

    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Salva</button>
    {{ form_end(form) }}
{% endblock %}
